/* Basic Swiper styling */
.swiper-container {
    width: 100%;
    height: 500px; /* Adjust as needed */
    margin: auto;
    perspective: 1500px; /* Default perspective for 3D effect */
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

// Optional: Adjust the active slide to have a defined look 
.swiper-slide-active {
    transform: scale(1) !important; // Make sure the active slide isn't scaled down 
}

.swiper-slide img {
    display: block;
    width: 100%;
}

// Optional: Remove the shadow effect completely if desired 
.swiper-slide-next, .swiper-slide-prev {
    opacity: 1 !important; // Make sure neighboring slides are also fully opaque 
    box-shadow: none !important; // Remove any shadow if applied 
}

// remove the shadow box  
.swiper-3d .swiper-slide-shadow-right, .swiper-3d .swiper-slide-shadow-left {
    background-image: none !important;
}

.story #characters {
     display: block;
}

.main-character h3{
    background-position: left;
    text-align: left; 
    padding-left: 50px;
}