// Banner
.banner {
  position: relative;
  object-fit: contain;
  height: 800px;
  background-image: none;
  & img {
    width: 100%;
    bottom: 0px;
    left: 65px;
  }
  &__banner,
  &__video{
    animation: down 2s 300ms;
    z-index: -2;
    position: absolute;
    bottom: 0px;
    left: 0px !important;    
  }
  &__logo {
    animation: up 2s 300ms;  

    //  Ajout parallax
    position: fixed;
    top: 50%; /* Place le logo initialement au centre de l'écran */
    left: 50%;
      transform: translatey(-50%);
    //  width: 150px;
      transition: top 0.3s ease-in-out, transform 0.3s ease-in-out;
      pointer-events: none;
      z-index: 9999;
  }
}
.story h2 {
  display: inline-block;
  width:100%;
}

.story h2:before {
  z-index: 1;
}
.story h2:after {
  z-index: 2;
}

.story h2,
.main-character, .other-characters,
.place, .place h3, .story #place,
.studio,
.site-footer {
  animation: up 2s 300ms;  
}
 
//---------------------------------
// ajout du parallax sur le logo
//---------------------------------
/* Style de base pour le logo et l'effet de parallax */
.sticky-logo {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  margin-top: 0;
  transition: transform 0.2s ease-in-out;
}
