// Banner
.banner {
  position: relative;
  object-fit: contain;
  height: 800px;
  background-image: none;
  & img {
    width: 1440px;
    bottom: 0px;
    left: 65px;
  }
  &__banner,
  &__video{
    animation: down 2s 300ms;
    z-index: -2;
    position: absolute;
    bottom: 0px;
    left: 0px !important;    
  }
  &__logo {
    max-width: 50%;
    animation: up 2s 300ms;  
  }
}
.story h2 {
  display: inline-block;
  width:100%;
}

.story h2:before {
  z-index: 1;
}
.story h2:after {
  z-index: 2;
}

.story h2, .story article::before, .story article::after{
  animation: up 2s 300ms;  
}


