* ::after, #studio h2::before, .sectionFestival::before, .site-footer::before, .flower {
    animation: spin 19s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}