// Menu Burger & Co (for the junk food :-)

// Titre et menu burger
.site-header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
 }
.site-header .main-navigation {
    display: flex;
    align-items: center; /* Aligner les éléments verticalement */
}
  
// Conteneur du menu de navigation 
#site-navigation {
    display: flex;
    justify-content: space-between; /* Pour espacer le site-title et le menu burger */
    align-items: center; /* Aligner verticalement le site-title et le menu burger */
//    padding: 10px 20px; /* Un peu de padding autour de la navigation */
}

/* Centrer le site-title */
.site-title {
    flex-grow: 1; /* Permet au site-title de prendre toute la largeur restante */
    text-align: center; /* Centrer le texte */
    a{
        margin-left: 500px;   
    }
}

// Styles de base pour le bouton menu burger 
.menu-toggle {
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    margin-left: auto; /* Pousse le bouton burger à droite */
}
.menu-toggle .line {
    width: 100%;
    height: 4px;
    background-color: #333;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
  
// Lorsque le menu est ouvert, transformer le burger en croix
.menu-toggle.active .line:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}
.menu-toggle.active .line:nth-child(2) {
    opacity: 0;
}
.menu-toggle.active .line:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg); 
}
  
// Activation ou non de l'affichage du menu en plein écran 
#menu-fullscreen {
    display: none; 
    position: fixed;
    top: -100%; 
    width: 1441px;
    height: 79vh;
    background: #fff5e9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    overflow: hidden;
    transform-origin: top;
    transition: top 0.5s ease-in-out;
    &.active {
      top: 80px;
      display: block;
    }
    .logo-menu {
      display: block;
      position: absolute;
      top: -4%;
      width: 13%;
      margin-left: 43%;
      margin-top: 6%;
    }
    ul {
      display: block;
      list-style: none;
      text-align: center;
      margin: 0;
      margin-top: 120px;  
      padding-top: 5%;
      li {
        a {
          padding-top: 2%;
          color: #000;
          text-decoration: none;
          font-size: 3rem;  
         &:hover {
            text-shadow: 0px 0px 14px #ff5c00;
          }
        }
      }  
        p {
            text-transform: uppercase;
            position: absolute;
            bottom: 10%;
        }
    }
}

// garde le menu en flex et donc centré verticalement, 
// lorsque le menu est ouvert
.main-navigation.toggled ul {
    display: flex;
}

// différents objets sur le menu
// flowers
.random-flower {
    position: absolute;
    top: 40%;
    right: -2%;
    width: 5%;
}
.sun-flower {
    position: absolute;
    top: 10%;
    right: 15%;
}
.hibiscus {
    position: absolute;
    width: 30%;
    bottom: -17%;
    right: -15%;
}
.orchid {
    position: absolute;
    top: 7%;
    left: -4%;
}
.flower {
    position: absolute;
    top: 50%;
    left: 15%;
    width: 5%;
}
// cats
.yellow-cat {
    position: absolute;
    width: 5%;
    bottom: 10%;
    left: 12%;
}
.black-cat {
    position: absolute;
    top: 50%;
    right: 15%;
    width: 7%;
}
.blue-cat {
    position: absolute;
    top: 23%;
    left: 25%;
}

// Animations
.sun-flower, .flower, .orchid, .hibiscus, .rdm-flower {
    animation: rotation 4s linear infinite; 
}
.blue-cat, .black-cat, .yellow-cat, .logo {
    animation: floating 3s ease-in-out infinite alternate;
}
// Effet de flottement du logo
@keyframes floating {
    0% {
        transform: translate(-50%, -50%);
    }
    50% {
        transform: translate(-60%, -60%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}
 
    