@charset "UTF-8";
/* Animations */
/* Descendre */
@keyframes down {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* Monter */
@keyframes up {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
section:not(.story), .banner .imgLogo .site-footer {
  animation: effet-fade-in 2s 0ms ease-in-out both;
}

.banner {
  animation: effet-fade-in-movie 2s 0ms ease-in-out both;
  background-image: none;
}

@keyframes effet-fade-in {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes effet-fade-in-movie {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
*::after, .studio h2::before, .site-footer::before {
  animation: rotation 19s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.title span {
  position: relative;
  top: 80px;
  opacity: 0;
}

.scroll-title span:first-child {
  animation: scroll 500ms ease-in-out both;
}

.scroll-title span:last-child {
  animation: scroll 1s 500ms ease-in-out both;
}

@keyframes scroll {
  0% {
    position: relative;
    top: 80px;
    opacity: 0;
  }
  100% {
    position: relative;
    top: 0;
    opacity: 1;
  }
}
/* Container for the floating element */
.container {
  position: relative;
  height: 100vh;
  background: linear-gradient(to bottom, #2d3e50, #445f73);
}

/* Floating element */
.floating-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  animation: floating 3s ease-in-out infinite;
}

/* Floating animation */
@keyframes floating {
  0% {
    transform: translate(-50%, -50%) translate(0, 0);
  }
  50% {
    transform: translate(-50%, -50%) translate(-20px);
  }
  100% {
    transform: translate(-50%, -50%) translate(0, 0px);
  }
}
/* Basic Swiper styling */
.swiper-container {
  width: 100%;
  height: 500px; /* Adjust as needed */
  margin: auto;
  perspective: 1500px; /* Default perspective for 3D effect */
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide-active {
  transform: scale(1) !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-slide-next, .swiper-slide-prev {
  opacity: 1 !important;
  box-shadow: none !important;
}

.swiper-3d .swiper-slide-shadow-right, .swiper-3d .swiper-slide-shadow-left {
  background-image: none !important;
}

.story #characters {
  display: block;
}

.main-character h3 {
  background-position: left;
  text-align: left;
  padding-left: 50px;
}

.story #place {
  background-image: url("./assets/images/place_bg_no_clouds.png");
}

.story .little-cloud,
.story .big-cloud {
  position: absolute;
  z-index: 1;
  filter: blur(12px);
}

.story .big-cloud {
  top: 60px;
  width: 316px;
  height: 122px;
}

.story .little-cloud {
  top: 270px;
  width: 150px;
  height: 60px;
}

/* Conteneur pour le parallax */
.parallax-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* Image avec l'effet de parallax horizontal */
.parallax-little-cloud {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateY(-50%);
  width: 20%; /* Taille de l'image */
  height: auto;
}

/* Image avec l'effet de parallax horizontal */
.parallax-big-cloud {
  position: absolute;
  top: 5%;
  left: 70%;
  transform: translateY(-50%);
  width: 30%; /* Taille de l'image en % de la largeur */
  height: auto;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header .main-navigation {
  display: flex;
  align-items: center; /* Aligner les éléments verticalement */
}

#site-navigation {
  display: flex;
  justify-content: space-between; /* Pour espacer le site-title et le menu burger */
  align-items: center; /* Aligner verticalement le site-title et le menu burger */
}

/* Centrer le site-title */
.site-title {
  flex-grow: 1; /* Permet au site-title de prendre toute la largeur restante */
  text-align: center; /* Centrer le texte */
}
.site-title a {
  margin-left: 500px;
}

.menu-toggle {
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  padding: 0;
  cursor: pointer;
  margin-left: auto; /* Pousse le bouton burger à droite */
}

.menu-toggle .line {
  width: 100%;
  height: 4px;
  background-color: #333;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-toggle.active .line:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.menu-toggle.active .line:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active .line:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

.menu-fullscreen {
  display: none;
  position: fixed;
  top: -100%;
  width: 1441px;
  height: calc(100vh - 80px);
  background: #fff5e9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  overflow: hidden;
  transform-origin: top;
  transition: top 0.5s ease-in-out;
}
.menu-fullscreen.active {
  top: 80px;
  display: block;
}
.menu-fullscreen .logo-menu {
  display: block;
  position: absolute;
  top: -4%;
  width: 13%;
  margin-left: 43%;
  margin-top: 6%;
}
.menu-fullscreen ul {
  display: block;
  list-style: none;
  text-align: center;
  margin: 0;
  margin-top: 120px;
  padding-top: 5%;
  padding-left: 0;
}
.menu-fullscreen ul li a {
  padding-top: 2%;
  color: #000;
  text-decoration: none;
  font-size: 3rem;
}
.menu-fullscreen ul li a:hover {
  text-shadow: 0px 0px 14px #ff5c00;
}
.menu-fullscreen ul p {
  text-transform: uppercase;
  position: absolute;
  bottom: 10%;
}

.main-navigation.toggled ul {
  display: flex;
  flex-direction: column;
}

.random-flower {
  position: absolute;
  top: 40%;
  right: -2%;
  width: 5%;
}

.sun-flower {
  position: absolute;
  top: 10%;
  right: 15%;
}

.hibiscus {
  position: absolute;
  width: 30%;
  bottom: -17%;
  right: -15%;
}

.orchid {
  position: absolute;
  top: 7%;
  left: -4%;
}

.flower {
  position: absolute;
  top: 50%;
  left: 15%;
  width: 5%;
}

.yellow-cat {
  position: absolute;
  width: 5%;
  bottom: 10%;
  left: 12%;
}

.black-cat {
  position: absolute;
  top: 50%;
  right: 15%;
  width: 7%;
}

.blue-cat {
  position: absolute;
  top: 23%;
  left: 25%;
}

.sun-flower, .flower, .orchid, .hibiscus, .rdm-flower {
  animation: rotation 4s linear infinite;
}

.blue-cat, .black-cat, .yellow-cat, .logo {
  animation: floating 3s ease-in-out infinite alternate;
}

@keyframes floating {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-60%, -60%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
/* Banner */
.banner {
  position: relative;
  height: 800px;
  background-image: none;
  /* Le logo dans la bannière avec parallax */
}
.banner img {
  width: 100%;
  bottom: 0px;
}
.banner__banner, .banner__video {
  animation: down 2s 300ms;
  z-index: -2;
  position: absolute;
  bottom: 0px;
  left: 0px !important;
}
.banner__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  pointer-events: none;
  transition: top 0.3s ease-in-out, transform 0.3s ease-in-out;
  will-change: transform;
}

/* Conteneur du logo avec parallax */
.parallax-logo-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  pointer-events: none;
  will-change: transform;
}

.main-character {
  padding-left: 13%;
}

.site-footer {
  display: block;
}

.oscars {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.oscars_background {
  background-image: url("./assets/images/oscars_nuage_orange.png");
  background-size: 100%;
}
.oscars h3 {
  font-family: Quicksand;
  font-size: 32px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.02em;
  color: white;
  padding: 10px 30px 30px 60px;
  text-shadow: #000 1px 0 10px;
}
.oscars img {
  width: 278px;
  height: 129px;
  margin-top: 30px;
}

@media all and (max-width: 768px) {
  .site-title {
    text-align: center;
    margin: 0 auto;
  }
  .menu-toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2000;
  }
  .menu-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff5e9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1500;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  .menu-fullscreen.active {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
  .menu-fullscreen.active ul {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 90%;
  }
  .menu-fullscreen.active ul li a {
    padding-top: 2%;
    color: #000;
    text-decoration: none;
    font-size: 3rem;
  }
  .menu-fullscreen.active ul li a:hover {
    text-shadow: 0px 0px 14px #ff5c00;
  }
  .menu-fullscreen.active .menuP {
    display: flex;
    justify-content: center;
  }
  .menu-fullscreen.active .menu-logo {
    display: block;
    position: absolute;
    top: -2%;
    width: 21%;
    margin-left: 37%;
    margin-top: 6%;
  }
  .orchid {
    position: absolute;
    top: 2%;
    left: -9%;
    width: 24%;
  }
  .hibiscus {
    position: absolute;
    width: 57%;
    bottom: -19%;
    right: -29%;
  }
  .sun-flower {
    position: absolute;
    top: 8%;
    right: 3%;
    width: 20%;
  }
  .blue-cat {
    position: absolute;
    top: 20%;
    left: 19%;
    width: 16%;
  }
  .black-cat {
    position: absolute;
    top: 58%;
    right: 4%;
    width: 15%;
  }
  .flower {
    position: absolute;
    top: 54%;
    left: 15%;
    width: 10%;
  }
  .yellow-cat {
    position: absolute;
    width: 11%;
    bottom: 7%;
    left: 12%;
  }
  .logo {
    max-width: 80px;
    margin: 0 auto;
  }
  .banner__banner {
    position: relative;
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
  .banner__video {
    display: none;
  }
  .banner__logo {
    max-width: 65%;
    top: 30%;
    left: 56%;
  }
  body {
    position: relative;
    font-size: 14px;
    line-height: 1.5;
  }
  .big-cloud,
  .little-cloud {
    display: none;
  }
  p,
  li {
    font-size: 95%;
    margin-bottom: 1rem;
  }
  .container {
    padding: 1rem;
  }
  .section {
    padding: 1.5rem 1rem;
  }
  .main-character {
    padding-left: 30%;
  }
  .oscars {
    flex-direction: column;
    align-items: center;
  }
  .oscars h3 {
    font-size: 27px;
  }
}
