/* Animations */
/* Descendre */
@keyframes down {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* Monter */
@keyframes up {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
* ::after, #studio h2::before, .sectionFestival::before, .site-footer::before, .flower {
  animation: spin 19s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.banner {
  position: relative;
  object-fit: contain;
  height: 800px;
  background-image: none;
}
.banner img {
  width: 1440px;
  bottom: 0px;
  left: 65px;
}
.banner__banner, .banner__video {
  animation: down 2s 300ms;
  z-index: -2;
  position: absolute;
  bottom: 0px;
  left: 0px !important;
}
.banner__logo {
  max-width: 50%;
  animation: up 2s 300ms;
}

.story h2 {
  display: inline-block;
  width: 100%;
}

.story h2:before {
  z-index: 1;
}

.story h2:after {
  z-index: 2;
}

.story h2, .story article::before, .story article::after {
  animation: up 2s 300ms;
}
