/* Animations */
/* Descendre */
@keyframes down {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* Monter */
@keyframes up {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
section:not(.story), .banner .imgLogo .site-footer {
  animation: effet-fade-in 2s 0ms ease-in-out both;
}

.banner {
  animation: effet-fade-in-movie 2s 0ms ease-in-out both;
  background-image: none;
}

@keyframes effet-fade-in {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes effet-fade-in-movie {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
*::after, .studio h2::before, .site-footer::before {
  animation: rotation 19s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.title span {
  position: relative;
  top: 80px;
  opacity: 0;
}

.scroll-title span:first-child {
  animation: scroll 500ms ease-in-out both;
}

.scroll-title span:last-child {
  animation: scroll 1s 500ms ease-in-out both;
}

@keyframes scroll {
  0% {
    position: relative;
    top: 80px;
    opacity: 0;
  }
  100% {
    position: relative;
    top: 0;
    opacity: 1;
  }
}
/* Container for the floating element */
.container {
  position: relative;
  height: 100vh;
  background: linear-gradient(to bottom, #2d3e50, #445f73);
}

/* Floating element */
.floating-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  animation: floating 3s ease-in-out infinite;
}

/* Floating animation */
@keyframes floating {
  0% {
    transform: translate(-50%, -50%) translate(0, 0);
  }
  50% {
    transform: translate(-50%, -50%) translate(-20px);
  }
  100% {
    transform: translate(-50%, -50%) translate(0, 0px);
  }
}
/* Basic Swiper styling */
.swiper-container {
  width: 100%;
  height: 500px; /* Adjust as needed */
  margin: auto;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
}

.swiper-pagination-bullet {
  background: #fff !important;
}

.swiper-pagination-bullet-active {
  background: #0073e6 !important;
}

.story #characters {
  display: block;
}

.main-character h3 {
  background-position: left;
  text-align: left;
  padding-left: 50px;
}

.banner {
  position: relative;
  object-fit: contain;
  height: 800px;
  background-image: none;
}
.banner img {
  width: 1440px;
  bottom: 0px;
  left: 65px;
}
.banner__banner, .banner__video {
  animation: down 2s 300ms;
  z-index: -2;
  position: absolute;
  bottom: 0px;
  left: 0px !important;
}
.banner__logo {
  animation: up 2s 300ms;
}

.story h2 {
  display: inline-block;
  width: 100%;
}

.story h2:before {
  z-index: 1;
}

.story h2:after {
  z-index: 2;
}

.story h2,
.main-character, .other-characters,
.place, .place h3, .story #place,
.studio,
.site-footer {
  animation: up 2s 300ms;
}

.site-footer {
  display: block;
}

.oscars {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.oscars_background {
  background-image: url("./assets/images/oscars_nuage_orange.png");
  background-size: 100%;
}
.oscars h3 {
  font-family: Quicksand;
  font-size: 32px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.02em;
  color: white;
  padding: 10px 30px 30px 60px;
  text-shadow: #000 1px 0 10px;
}
.oscars img {
  width: 278px;
  height: 129px;
  margin-top: 30px;
}
